<h1>Introducing the Worlds Shortest Angular JS / Rails Demo App</h1>
	<h3>Enter any text into the box below and watch it display live on the screen in real.</h3>
<br>
<form>
	<input type="text" ng-model="newEntry.name" autofocus>  {{newEntry.name}}
	<br>
</form>
{{newEntry.name}}


	
